.logo-container {
    margin-left: 3px;
    margin-bottom: 2px;
}

.toolbar-container {}

.propchar-container {
    margin-bottom: 4px;
}

.tab-container {
    margin-left: 15px;
}

kendo-tabstrip {
    font-family: sans-serif;
}