.form-group{
    font-size: 10px; 
    height: 25px;
}
.form-group label{
  text-align: right;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  font-size: 11px; 
}
.text-label{
  font-size:11px;
}
.col-form-label{
  margin-right: 10px;font-size:11px;font-weight: bold;  text-align:right;
}
.k-dropdownlist {
    height: 25px;
  }
  .k-datepicker {
    height: 25px;
    font-size: 12px;
  }