.k-dialog-titlebar {
    background-color: green;
  }

  .k-dialog-content {
    background-color: pink;
  }
  k-grid-toolbar {
    height: 1px;
  }
  
  
  .k-dialog-actions button {
    width: 5px;
  }
  .k-button {
    padding: 0.5em 1em; /* adjust the padding to make the button smaller */
    width: 5px;
  }
  
  
  
 