<kendo-grid [data]="gridData">
  <ng-template kendoGridToolbarTemplate>
    <b role="button" *ngIf="!opened" (click)="open()">Comments +</b>
  </ng-template>
  <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
</kendo-grid>

<kendo-dialog title="Comments" *ngIf="opened" [minWidth]="250" [width]="450" (close)="close()">
  <form>
    <div class="form-group row">
      <div class="col-sm-12">
        <kendo-label text="*Comment">
          <kendo-textarea placeholder="Enter the comments..." [rows]="3" resizable="vertical"></kendo-textarea>
        </kendo-label>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button kendoButton themeColor="primary" (click)="close()">Cancel</button>
    <button kendoButton themeColor="primary" (click)="close()">
      Save
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
