<app-loading-overlay />
<header>
    <div class="row text-white">
        <div class="col-xs-12 col-sm-6 col-md-12 border header bg-primary " style="height: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <label>IMPROVE CSA</label><br>
                    <label>Development</label>
                </div>

                <div class="col-md-4">
                    <label>Document: 2018 - 160820</label><br>
                    <label>Event Date: 08/16/2018 12:40</label>
                    <label>&nbsp;View Images</label>
                </div>

                <div class="col-md-4">
                    <label>SOLID PROPERTIES & HOLDINGS LLC</label><br>
                    <label>HA INVESTMENTS LLC</label>
                </div>
            </div>
        </div>
    </div>
</header>

<app-details-page></app-details-page>