float-container {
    border: 3px solid #4c80b6;
    padding: 20px;
    font-size: small;
}


.float-child-1 {
    width: 90%;
    float: left;
    margin-top: 10px;  
      margin-left: 10px;
    padding: 20px;
    border: 1px solid black;
    font-size: small;
}  
.float-child-2 {
    width: 38%;
    float: left;
    padding: 10px;
    margin-left: 10px;
    font-size: small;
    margin-top: 20px;
    border: 1px solid black;
}  
 
.float-child-3 {
    width: 29%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: small;
    padding: 20px;
    border: 1px solid black;
} 

.float-child-4 {
    width: 23%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: small;
    padding: 20px;
    border: 1px solid black;
} 

