<div class="container">
<div class="k-d-grid  k-grid-rows-2 k-grid-flow-col k-gap-1  ">
  <div >
    <fieldset class="hm-fieldset">
      <legend 
        style="font-size: 12px; font-weight: bold"
      >
        Document
      </legend>
      <div   >
        <div class="k-p-3">
        
            <label class="col-form-label-left" >Document:</label>
            <label  >1970-136268</label>
       
            <label class="col-form-label-right" >Buyer:</label>
            <label  >Carlislie Ralph & Katherine J & John W & Jean E</label
            >
          </div>
          <div >
        
            <label class="col-form-label-left">Event Date:</label>
            <label  >12/10/1970 23:01</label>           
        
            <label class="col-form-label-right" >Seller:</label>
            <label >Gilpin Mary H</label>
          
          </div>
      </div>
    </fieldset>
  
  </div>
  <div  >
    <fieldset class="hm-fieldset">
      <legend
        class="float-none w-auto p-0 m-0"
        style="font-size: 12px; font-weight: bold"
      >
        Sale
      </legend>
      <div class="k-d-grid">
        <div  class="k-p-3">
          
            <label class="col-form-label-left" >APN Count:</label>
            <label  >45</label>  
            <label class="col-form-label-right"  >Ind Pur Price:</label>
            <label  >89,9090</label> 
        </div>
        <div  > 
            <label class="col-form-label-left"  >Adj Sales Price:</label>
            <label  >292203</label> 
            <label class="col-form-label-right " >Trans Tax Price:</label>
            <label  >300</label> 
        </div>
      </div>
    </fieldset>
  </div>
  <div style="margin-left: -320px;width: 550px;">
    <fieldset>
      <legend
        class="float-none w-auto p-0 m-0"
        style="font-size: 12px; font-weight: bold"
      >
        APN
      </legend>
      <div  >

        <div class="k-p-3"> 
            <label class="col-form-label-left" >APN:</label>
            <label >49-1177-7-1</label> 
            <label class="col-form-label-right"  >Use Cd:</label>
            <label  >1</label>
            <label class="col-form-label-left">Use:</label>
            <label  >Garbage-Repair</label>
          </div> 

        <div  > 
           
         
            <label class="col-form-label-left">Address:</label>
            <label  >4700 San pablo Ave, Emeryville , 94605-1307</label > 
        </div> 
      </div>
    </fieldset>
  </div>
 
  <div style="margin-left: -320px;width: 550px;">
    <fieldset >
      <legend
        class="float-none w-auto p-0 m-0"
        style="font-size: 12px; font-weight: bold"
      >
        Prop Char
      </legend>
      <div  >
        <div class="k-p-3"> 
            <label class="col-form-label-left">Gross SF:</label>
            <label  >45</label>  
            <label class="col-form-label-right" >Land Area:</label>
            <label >7,341</label>
          </div> 
        <div  > 
            <label class="col-form-label-left" >PC NRA:</label>
            <label>6200</label>
          </div> 
      </div>
    </fieldset>    
  </div>
</div>
</div>


 

