<div class="grid" style="margin-top: 10px;">
  <div class="item">
    <fieldset class="hm-fieldset">
      <legend class="legand-header">Document</legend>
      <table>
        <tr>
          <th style="width: 95px;text-align: right;">Document:</th>
          <td>1970-136268</td>

          <th style="width: 95px;text-align: right;">Buyer:</th>
          <td>Carlislie Ralph & Katherine J & John W & Jean E</td>

        </tr>
        <tr>
          <th style="width: 95px;text-align: right;">Event Date:</th>
          <td>12/10/1970 23:01</td>

          <th style="width: 95px;text-align: right;">Seller:</th>
          <td>Gilpin Mary H</td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div class="item">
    <fieldset class="hm-fieldset">
      <legend class="legand-header">APN</legend>
      <table>
        <tr>
          <th style="width: 80px;text-align: right;">APN:</th>
          <td>49-1177-7-1</td>

          <th style="width: 80px;text-align: right;">Use Cd:</th>
          <td>1</td>

          <th style="width: 80px;text-align: right;">Use:</th>
          <td>Garbage-Repair</td>
        </tr>
        <tr>
          <th style="width: 80px;text-align: right;">Address:</th>
          <td colspan="4">4700 San pablo Ave, Emeryville , 94605-1307</td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div class="item">
    <fieldset class="hm-fieldset">
      <legend class="legand-header">Sale</legend>
      <table>
        <tr>
          <th style="width: 95px;text-align: right;">APN Count:</th>
          <td style="width: 95px;">45</td>

          <th style="width: 95px;text-align: right;">Ind Pur Price:</th>
          <td style="width: 95px;">89,9090</td>
        </tr>
        <tr>
          <th style="width: 95px;text-align: right;">Adj Sales Price:</th>
          <td style="width: 95px;">292203</td>

          <th style="width: 95px;text-align: right;">Trans Tax Price:</th>
          <td style="width: 95px;">300</td>
        </tr>
        
      </table>
    </fieldset>
  </div>

  <div class="item">
    <fieldset class="hm-fieldset">
      <legend class="legand-header">Prop Char</legend>
      <table>
        <tr>
          <th style="width: 80px;text-align: right;">Gross SF:</th>
          <td style="width: 80px;">45</td>

          <th style="width: 63px;text-align: right;">Land Area:</th>
          <td>7,341</td>
        </tr>
        <tr>
          <th style="width: 80px;text-align: right;">PC NRA:</th>
          <td colspan="4" >6200</td>
        </tr>
      </table>
    </fieldset>
  </div>

  <!-- <div class="item" >
  <div class="item">
    <fieldset class="hm-fieldset">
      <legend style="font-size: 12px; font-weight: bold">Prop Char</legend>
      <section>
        <div class="row">
          <div class="col" style=" text-align: right;font-size: 12px; font-weight: bold;">Gross SF:</div>
          <div class="col">45</div>
          <div class="col" style=" text-align: right;font-size: 12px; font-weight: bold;">Land Area:</div>
          <div class="col">7,341</div>
        </div>
        <div class="row" >
          <div class="col" style=" text-align: right;font-size: 12px; font-weight: bold;">PC NRA:</div>
          <div class="col">6200</div>
          <div class="col" style=" text-align: right;font-size: 12px; font-weight: bold;">Seller:</div>
          <div class="col">Gilpin Mary H</div>
        </div>
      </section>
    </fieldset>
  </div> -->
</div>
  
