<div class="container">
  <div class="top-row">
    <div class="col-md-6">
      <fieldset class="hm-fieldset">
        <legend class="legend-label"
        >
          Document
        </legend>
        <div class="row">
          <div class="row-item">
            <label class="form-label">Document:</label>
            <label class="text-label" >{{CsaDocument?.doc_prefix}}</label>
          </div>

          <div class="row-item">
            <label class="form-label">Buyer:</label>
            <label class="text-label">{{CsaDocument?.buyer_name}}</label
            >
          </div>

          <div class="row-item">
            <label class="form-label">Event Date:</label>
            <label class="text-label">{{CsaDocument?.event_ts |  date:'shortDate' }}</label>
          </div>

          <div class="row-item">
            <label class="form-label">Seller:</label>
            <label class="text-label">{{CsaDocument?.seller_name}}</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset class="hm-fieldset">
        <legend
        class="legend-label"
        >
          APN
        </legend>
        <div class="row">
          <div class="row-item">
            <label class="form-label">APN:</label>
            <label class="text-label" formControlName="">49-1177-7-1</label>
          </div>

          <div class="row-item">
            <label class="form-label">Use Code:</label>
            <label class="text-label">1</label> 
            <label class="form-label" style="margin-left: 15px;">Use:</label>
            <label class="text-label">Garbage-Repair</label> 
          </div>


         
        </div>
        <div class="row">
          <div class="row-item">
            <label class="form-label">Address:</label>
            <label class="text-label">4700 San pablo Ave, Emeryville , 94605-1307 hbjhbh fdgffgffgfgffdghgg</label
            >
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="bottom-row">
    <div class="col-md-6">
      <fieldset class="hm-fieldset">
        <legend class="legend-label"
        >
          Sale
        </legend>
        <div class="row">
          <div class="row-item">
            <label class="form-label">APN Count:</label>
            <label class="text-label">45</label>
          </div>

          <div class="row-item">
            <label class="form-label">Ind Pur Price:</label>
            <label class="text-label">89,9090</label>
          </div>

          <div class="row-item">
            <label class="form-label">Adj Sales Price:</label>
            <label class="text-label">292203</label>
          </div>

          <div class="row-item">
            <label class="form-label">Trans Tax Price:</label>
            <label class="text-label">300</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset class="hm-fieldset">
        <legend class="legend-label"
        >
          Prop Char
        </legend>
        <div class="row">
          <div class="row-item">
            <label class="form-label">Gross SF:</label>
            <label class="text-label">45</label>
          </div>

          <div class="row-item">
            <label class="form-label">Land Area:</label>
            <label class="text-label">7,341</label>
          </div>

          <div class="row-item">
            <label class="form-label">PC NRA:</label>
            <label class="text-label">6200</label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
