<!-- Document -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <fieldset class="hm-fieldset">
            <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Document</legend>
            <table>
                <tr>
                <td colspan="2" class="fw-bold">Document:</td>
                <td>1970-136268</td>
                <td style="width: 100px;"></td>
                <td class="fw-bold">Buyer:</td>
                <td>Carlislie Ralph & Katherine J & John W & Jean E</td>
                </tr>
                <tr>
                    <td colspan="2" class="fw-bold">Event Date:</td>
                    <td>12/10/1970 23:01</td>
                    <td style="width: 100px;"></td>
                    <td class="fw-bold">Seller:</td>
                    <td>Gilpin Mary H</td>
                </tr>
            </table>
        </fieldset>
    </div>
<!-- end Document -->

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5">
        <!-- APN -->
            <fieldset class="hm-fieldset" style="width: 500px;">
                <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">APN</legend>
                <table>
                    <tr>
                    <td colspan="2" class="fw-bold">APN:</td>
                    <td>49-1177-7-1</td>
                    <td style="width: 50px;"></td>
                    <td class="fw-bold">Use Cd:</td>
                    <td>1</td>
                    <td style="width: 50px;"></td>
                    <td class="fw-bold">Use:</td>
                    <td>Garbage-Repair</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="fw-bold">Address :</td>
                        <td colspan="4">4700 San pablo Ave, Emeryville , 94605-1307</td>
                    </tr>
                </table>
            </fieldset>
        <!-- end APN -->
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <!-- sale -->
        <fieldset class="hm-fieldset" style="width: 300px;">
            <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Sale</legend>
            <table>
                <tr>
                <td colspan="2" class="fw-bold">APN Count:</td>
                <td></td>
                <td style="width: 30px;"></td>
                <td class="fw-bold">Ind Pur Price:</td>
                <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="fw-bold">Adj Sales Price:</td>
                    <td>25,000</td>
                    <td style="width: 30px;"></td>
                    <td class="fw-bold">Trans Tax Price:</td>
                    <td>300</td>
                </tr>
            </table>
        </fieldset>
        <!-- sale end -->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3">
        <fieldset class="hm-fieldset" style="width: 300px;">
            <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Prop Char</legend>
            <table>
                <tr>
                  <td colspan="2" class="fw-bold">Gross SF:</td>
                  <td></td>
                  <td style="width: 30px;"></td>
                  <td class="fw-bold">Land Area:</td>
                  <td>7,341</td>
                </tr>
                <tr>
                    <td colspan="2" class="fw-bold">PC NRA:</td>
                    <td>6200</td>
                  </tr>
            </table>
        </fieldset>
    </div>
</div>
</div>