.hm-property {
    margin-top: 2px;
    width: 800px;
    font-size: 12px;
}

.hm-fieldset {
    margin-top: 5px;
    width: 805px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-apn {
    margin-top: 5px;
    margin-bottom: 12px;
    width: 465px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-sale {
    margin-top: -88px;
    margin-left: 480px;
    width: 405px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-Prop {
    margin-top: -83px;
    margin-left: 900px;
    width: 305px;
    height: 83px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}

