<div class="container-fluid">
    <fieldset class="hm-fieldset">
        <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Document</legend>
        <div class="row" style="margin-top: -10px;">
    <div class="col-sm-8 col-md-4" >
        <div class="d-flex align-items-center">
            <label class="col-form-label col-4">Document:</label>
            <label class="col-6" >1970-136268</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-6" >
        <div class="d-flex align-items-center">
            <label class="col-form-label col-4" >Buyer:</label>
            <label class="col-12" >Carlislie Ralph & Katherine J & John W & Jean E</label>
        </div>
    </div>
    <div class="col-sm-8 col-md-4">
        <div class="d-flex align-items-center">
            <label class="col-form-label col-6" style="margin-left: -15px;">Event Date:</label>
            <label class="col-8" >12/10/1970 23:01</label>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="d-flex align-items-center">
            <label class="col-form-label col-4" >Seller:</label>
            <label class="col-6" >Gilpin Mary H</label>
        </div>
    </div>
</div>
    </fieldset>
    <fieldset class="hm-fieldset-apn" >
        <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">APN</legend>
        <div class="row" style="margin-top: -10px">
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4">APN:</label>
                    <label class="col-6 text-label">49-1177-7-1</label>
                </div>
            </div>
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4" >Use Cd:</label>
                    <label class="col-6" >1</label>
                </div>
            </div>
           
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4" >Use:</label>
                    <label class="col-8" >Garbage-Repair</label>
                </div>
            </div>
        
            <div class="col-sm-12 col-md-6" style="margin-left: -25px;">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4" >Address:</label>
                    <label class="col-12" >4700 San pablo Ave, Emeryville , 94605-1307</label>
                </div>
            </div>
            
        </div>
    </fieldset>
    <fieldset class="hm-fieldset-sale" >
        <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Sale</legend>
        <div class="row" style="margin-top: -10px">
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-6">APN Count:</label>
                    <label class="col-6" ></label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-6" >Ind Pur Price:</label>
                    <label class="col-6" ></label>
                </div>
            </div>
            <!-- <div class="col-sm-8 col-md-4"></div> -->

            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-6" >Adj Sales Price:</label>
                    <label class="col-6" > 25,000</label>
                </div>
            </div>
        
            <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-6" >Trans Tax Price:</label>
                    <label class="col-4" >300</label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="hm-fieldset-Prop" >
        <legend class="float-none w-auto p-0" style="font-size: 12px;font-weight: bold;">Prop Char</legend>
        <div class="row" style="margin-top: -10px">
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4">Gross SF:</label>
                    <label class="col-4 " ></label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-8" >Land Area:</label>
                    <label class="col-6" >7,341</label>
                </div>
            </div>
            <div class="col-sm-8 col-md-4">
                <div class="d-flex align-items-center">
                    <label class="col-form-label col-4" >PC NRA:</label>
                    <label class="col-4" >6200</label>
                </div>
            </div>
        
          
        </div>
    </fieldset>
</div>
