
<div class="p-3">

    <kendo-tabstrip>
        <kendo-tabstrip-tab title="Sales Info" [selected]="true">
            <ng-template kendoTabContent>
                <app-sales-info-tab></app-sales-info-tab>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Prop Characteristics">
            <ng-template kendoTabContent>
                <p>Tab 2 Content</p>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Income">
            <ng-template kendoTabContent>
                <p>Tab 3 Content</p>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Expenses">
            <ng-template kendoTabContent>
                <p>Expenses</p>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Adjustments">
            <ng-template kendoTabContent>
                <p>Expenses</p>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Income Analysis & Value Ind">
            <ng-template kendoTabContent>
                <p>Income Analysis & Value Ind</p>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Sources">
            <ng-template kendoTabContent>
                <p>Sources</p>
            </ng-template>
        </kendo-tabstrip-tab>
    
    </kendo-tabstrip>
    </div>