
.bg-blue {
    background-color: #D7E6F7;
}
.k-button-solid-base{
    border-color:white;
    color: white;
    background-color: #1B3758;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    height: 20px;
}
/* .k-button-solid-base.k-hover:focus  {
    border-color: #003c74 !important;
      color: black !important;
      background-color: #ece9e4 !important;
      background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
      background-image: -moz-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
      background-image: -ms-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
      background-image: -o-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
      background-image: linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#F5C971',GradientType=0 ) !important;
} */
/* .k-button-solid-base.k-selected {
    border-color: #003c74 !important;
    color: black !important;
    background-color: #ece9e4 !important;
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
    background-image: -ms-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
    background-image: -o-linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
    background-image: linear-gradient(top, #fcfcfc 0%, #F5C971 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#F5C971',GradientType=0 ) !important;
   
} */

.hm-property {
    margin-top: 2px;
    width: 800px;
    font-size: 12px;
}

.hm-fieldset {
    margin-top: 5px;
    width: 805px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-apn {
    margin-top: 5px;
    margin-bottom: 12px;
    width: 465px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-sale {
    margin-top: -88px;
    margin-left: 480px;
    width: 405px;
    height: 75px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}
.hm-fieldset-Prop {
    margin-top: -83px;
    margin-left: 900px;
    width: 305px;
    height: 83px;
    border: 1px groove #ddd !important;
    padding: 0 10px 10px 10px !important;
    font-size: 12px;
}