.bg-blue {
    background-color: #8e9ca5;
}
.bg-blue {
    background-color: #D7E6F7;
}
.bg-dark-strap {
    background-color: #1B3758;
}

.aspbutton{
    background: #fff;
    // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,200,78,1) 0%, rgba(251,231,161,1) 0%, rgba(252,237,183,1) 0%, rgba(250,225,133,1) 47%, rgba(252,240,194,1) 100%);
    border: 0;
    color:white !important;
}

.default-btn{
    background-color: transparent;
    color:#fff;
    border:.01em solid #fff;
    &:hover {
        background: #fff;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,200,78,1) 0%, rgba(251,231,161,1) 0%, rgba(252,237,183,1) 0%, rgba(250,225,133,1) 47%, rgba(252,240,194,1) 100%);
    border: 0;
    color:#000 !important;
    }
}
.line-with-btn{
    width: 1px;
          height: 27px;
          background: white;
}