<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-10">IMPROVE CSA</div>
      <div class="col-sm-6 col-md-2">Development User id</div>
    </div>
  
    <div class="col-sm-12 bg-blue p-2 text-black fw-bold">C/I Improved Property</div>
    <div class="col-sm-12 p-2 bg-dark-strap">
      <ng-container *ngFor="let button of buttons; let i = index;">
          <button class="default-btn" [ngClass]="button.isSelected === true ? 'aspbutton' : ''" (click)="buttonClicked(button)">
            {{ button.text }}
          </button> 
          
          <span *ngIf="i != (buttons.length - 1) " class="text-white"> | </span>
        </ng-container>
    </div>
  </div>
  
  <app-field-set-group></app-field-set-group>
  
  <router-outlet />
  