.form-group {
    font-size: 12px;
    height: 25px;
}

.form-group label {
    text-align: right;
    display: inline-block;
    font-weight: bold;
    width: 200px;
    font-size: 12px;
}

.text-label {
    font-size: 12px;
    text-transform:uppercase;
    width: 190px;
}

.text-label-checkbox {
    font-size: 11px;
    text-transform:uppercase;
    /* font-weight: bold; */
    /* width: 190px; */
}

.form-label {
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    font-family: Arial, Verdana;
}



kendo-textbox, kendo-numerictextbox, .k-dropdownlist{
    height: 25px;
}

.k-datepicker {
    height: 25px;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.flex-item {
    /* margin-right: 20px; */
    width: 40%;
    display: flex;
    align-items: center;
}

.flex-item label {
    flex: 0 0 40%;
    margin-right: 10px;
}

.flex-item:last-child {
    margin-right: 0;
}

label {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 10px;
}