<form [formGroup]="salesInfoForm">
  <div class="container">
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">Anticipated Use:</label>
        <kendo-dropdownlist class="col-6 text-label" [data]="anticipatedUse" formControlName="ANTICIPATED_USE_CD"
          [textField]="'usE_NAME'" [valueField]="'anticipateD_USE_CD'" [valuePrimitive]="true"  ></kendo-dropdownlist>
      </div>
      <div class="flex-item">
        <label class="form-label" style="background-color: #5f90cf;">Benchmark Rating:</label>
        <kendo-label class="col-6 text-label">{{salesInfoForm.get('BENCHMARK_RATE_CD').value}}
        </kendo-label>

      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">Details:</label>
        <kendo-textbox class="col-6 text-label" formControlName="PROP_USE_DETL"></kendo-textbox>
      </div>

      <div class="flex-item">
        <label class="form-label">Supervisor Approved:</label>
        <kendo-textbox class="col-6 text-label" formControlName="SUPRV_APPROVED_FL"></kendo-textbox>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">% Owner Occupied:</label>
        <kendo-numerictextbox [min]="0" [max]="100" format="'n0'" [(ngModel)]="numerictextbox" [spinners]="true"
          (change)="roundValue()" style="width: 90px" formControlName="PCT_OWNER_OCCUP"></kendo-numerictextbox>
      </div>

      <div class="flex-item">
        <label class="form-label">Broker Involved:</label>
        <kendo-dropdownlist formControlName="BROKER_INVOLVED_FL" class="col-6 text-label" [data]="brokerInvolved"
          [textField]="'SUPRV_APPROVED_FL_TEXT'" [valueField]="'SUPRV_APPROVED_FL'" [valuePrimitive]="true" style="width: 90px"></kendo-dropdownlist>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">Buyer/Seller Relationship:</label>
        <kendo-dropdownlist class="col-6 text-label" formControlName="BUY_SELL_REL_FL" [data]="buyerSellerRelationship"
          [textField]="'BUY_SELL_REL_FL_TEXT'" [valueField]="'BUY_SELL_REL_FL'" [valuePrimitive]="true" style="width: 90px"></kendo-dropdownlist>
      </div>

      <div class="flex-item">
        <label class="form-label">If so, specify:</label>
        <kendo-textbox class="col-6 text-label" formControlName="BUY_SELL_REL_DESC"></kendo-textbox>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">Purchase Predated By:</label>
        <div class="col-4 mr-2">
          <input type="checkbox" #purPredateByOpt formControlName="PUR_PREDATE_BY_OPT" kendoCheckBox />
          <kendo-label class="k-checkbox-label" [for]="purPredateByOpt" text="Option"></kendo-label>
        </div>
        <div class="col-4 ">
          <input type="checkbox" formControlName="COND_AT_SALE_CD" #cond_at_sale kendoCheckBox />
          <kendo-label class="k-checkbox-label" [for]="cond_at_sale" text="Contract of Sale"></kendo-label>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-item">
        <label class="form-label">Contract Date:</label>
        <kendo-datepicker class="col-6 text-label" placeholder="Choose a date ..."
          formControlName="PREDATE_CONT_DATE"></kendo-datepicker>
      </div>

      <div class="flex-item">
        <label class="form-label">Condition at sales:</label>
        <kendo-dropdownlist class="col-6 text-label" formControlName="COND_AT_SALE_CD" [data]="conditionAtSales"
          [textField]="'cD_LONG_NAME'" [valueField]="'cD_ID'" [valuePrimitive]="true"></kendo-dropdownlist>
      </div>

      <div class="flex-item" style="width: 2043px; margin-top: 10px">
        <!-- For add remark component --><app-comments-block />
      </div>
    </div>
  </div>
</form>
<div kendoDialogContainer></div>
