/* You can add global styles to this file, and also import other style files */
// styles.scss
$kendo-color-primary: #000;
  // Set the variables here.
@import "@progress/kendo-theme-bootstrap/dist/all.scss";
// @import "./custom-theme.scss";
body {
  font-size: 10px;
  font-family: Arial, Verdana, sans-serif;
}

