body {
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
}
.container {
    display: flex;
    padding: 10px;
}



.k-tabstrip-items-wrapper .k-item {
    color: #000 !important;
    font-size: 12px;
  }
  
  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:active, .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #F2A934 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 100%);
  
  font-size: 12px;
  border: none;
  border-color: #003c74 !important;
  }
  
  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
  border: 0.15rem solid #5f90cf;
  border-bottom: 1px solid #5f90cf;
  font-size: 12px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #f2a93400 0%, rgba(251,250,243,1) 13%, rgba(228,234,237,1) 100%);
  
  height: 22px;
  }
  .k-tabstrip-top{
    height: 400px;
  }
  
  body {
    font-size: 12px;
  }
  
  kendo-grid{
   .k-toolbar {
    background: rgb(233,240,247);
    background: linear-gradient(180deg, rgba(233,240,247,1) 0%, rgba(185,202,227,1) 100%);
    border-color:#AABBCD;
  }
  .k-header{
    background: rgb(233,240,247);
    background: linear-gradient(180deg, rgba(233,240,247,1) 0%, rgba(185,202,227,1) 100%);
    border-color:#AABBCD;
  }
  
   
  .k-master-row:nth-child(even){
    td{
      background-color:#d1dded;
    }
  }
  }
  
  kendo-dialog-titlebar{
    background: rgb(233,240,247);
    background: linear-gradient(180deg, rgba(233,240,247,1) 0%, rgba(185,202,227,1) 100%);
    border-color:#AABBCD;  
    
  }
  
  .primary-btn {
    background: rgb(233,240,247);
    background: linear-gradient(180deg, rgba(233,240,247,1) 0%, rgba(185,202,227,1) 100%);
    border-color:#AABBCD;  
  }
  
  .k-button-solid-primary {
    background: rgb(233,240,247);
    background: linear-gradient(180deg, rgba(233,240,247,1) 0%, rgba(185,202,227,1) 100%);
    border-color:#AABBCD; 
    color: #000;
  }
  
  .k-button-solid-primary:active, .k-button-solid-primary.k-active {
    border-color: #000;
    background-color: #000;
  }
  
  .k-button-solid-primary:focus, .k-button-solid-primary.k-focus {
    box-shadow: 0 0 0px 2px rgba(101, 97, 97, 0.3);
  }
  .k-button-solid-primary:focus, .k-button-solid-primary.k-focus {
    box-shadow: 0 0 0px 2px rgba(101, 97, 97, 0.3);
  }
  .k-button-solid-primary:hover, .k-button-solid-primary.k-hover {
    border-color: rgb(101, 97, 97);
    background-color: rgb(101, 97, 97);
  }